body{
    font-family: 'Raleway', sans-serif;
    background: rgb(34, 34, 34);
    color: white;
    padding: 0px 100px 20px;
    line-height: 1.3;
    font-size: 22px;
}

nav{
    text-align: center;
    margin-bottom: 40px; 
}

nav li{
    display: inline;/* Aparecer a lista de navegação um ao lado do outro */
    margin: 0 0 0 20px;/* Espaçamento entre os textos da lista */
}

nav a{
    text-transform: uppercase;/* Transformar texto na hora da exibição em maiusculo */
    color: white;
    font-weight: bold;/* Peso da fonte é negrito */
    font-size: 15px;
    text-decoration: none;/* nenhuma decoração no texto, sem sublinhado... */
    transition: 150ms;
}

nav a:hover{ /* quando o mouse esta em cima dos links dentro do menu de navegação */
    color: gray;
    text-decoration: underline;
    font-size: 16px;
}

.titulo-principal{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 28px;
}

.parte1{
    text-align: center;
}

.bandeira-alemanha{
    width: 250px;
    text-align: center;
    margin-top: 24px;
    border-radius: 20px;
    transition: 420ms;
}

.bandeira-alemanha:hover{
    transform: scale(1.05);
}

.saibamais-alemanha{
    text-align: center;   
}

.conteudo-saibamais{
    text-decoration: none;
    color: white;
}

.titulo2{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}

.parte2{
    margin-top: 50px;
    text-align: center;
}

.parte3{
    margin-top: 50px;
}

.titulo-ul{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}

.parte4{
    margin-top: 50px;
}

.lista-setores{
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.imagem-setores{
    width: 400px;
    border-radius: 20px;
    transition: 400ms; 
}

.imagem-setores:hover{
    transform: scale(1.08);
}

.parte5{
    text-align: center;
    margin-top: 50px;
}

.titulo5{
    font-weight: bold;
    font-size: 25px;
}

.parte6{
    margin: 50px auto;
}

.imagem-impactos{
    width: 200px;
    border-radius: 20px;
    transition: 400ms;
}

.imagem-impactos:hover{
    transform: scale(1.08);
}

.lista-impactos{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.itens:before{
    content: "★";
}

.itens{
    line-height: 1.5;/* Altura da Linha */
}

.video{
    margin-top: 50px;
    text-align: center;
}

.titulo-mapa{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
}

.titulo-video{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
}

iframe{
    border-radius: 20px;
    transition: 520ms;
}

iframe:hover{
    transform: scale(1.05);
}

ul{
    list-style: none;
}

.mapa-alemanha{
    margin-top: 50px;
    text-align: center;
}